<% var wordType = function(children) {if (children.ins(0).attributes.title == "nlp 0.10") {return "info"} else if (children.ins(0).attributes.title != "nlp 1.00" && !children.del) {return "warning"} else if (children.ins(0).attributes.title != "nlp 1.00") {return "danger"} else {return "default"}}; %>
<% include utils/head %>
<% include utils/navigation %>
<div class="page-container"><% include ocr/page %></div>
<% include utils/submit_button %>
<% include scripts/libraries %>
<% include scripts/image %>
<% include scripts/toc %>
<% include scripts/event_handlers %>
<!-- Pagination missing -->
<% include utils/foot %>