<% if (wordType(alt)!="default") { %>
<button type="button" class="btn btn-<%= wordType(alt) %> dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu" role="menu">
    <% for (k in alt.children) { if (k!='last') { var del = alt.children[k] %>
    <li <% for (a in del.attributes) { %><%- a+"=\""+del.attributes[a]+"\" "%><% } %>><a href="#"><%= del.text %></a></li>
    <% }} %>
    <li class="divider"></li>
    <li><div class="input-group-sm" style="margin:3px;"><input type="text" class="form-control" placeholder="Manual entry"></div></li>
</ul>
<% } %>