  <ol class="breadcrumb">
    <li><a href="/">Index</a></li>
    <li><a href="/<%= work.hash %>"><%= work.name %></a></li>
    <li>Page <%= page %></li>
  </ol>
<div class="ocr_page" <% var a = json.doc.html.body(0).div(0).attributes; for (key in a) { if (key != "class") { %> <%- key+'=\"'+a[key]+'\" ' %> <% }} %>>
    <% for (i in json.doc.html.body(0).div(0).span()) { if (i!='last') { var line = json.doc.html.body(0).div(0).span(i); %>
    <% include line %>
    <% }} %>
</div>