<script type="text/javascript">
    var changeBtn = function(jq, text) {
        jq.group = jq.elem.closest(".btn-group").first();
        jq.toggle = jq.group.find(".dropdown-toggle").first().removeClass("btn-danger btn-warning btn-info").addClass("btn-success");
        jq.btn = jq.group.find(".alt").first().removeClass("btn-danger btn-warning btn-info").addClass("btn-success");

        json.index[jq.group.first().attr("id")].children[0].children  = [{tag:"ins",text:text,attributes:{title:"nlp 2.00"}}];
        jq.btn.text(text);
    }
    // Event handlers
    $('.dropdown-menu input').click(function(e){
        e.stopPropagation();
    }).keypress(function(e) { if (e.keyCode == 13) {
                $('.btn-group.open .dropdown-toggle').dropdown('toggle');
                changeBtn({elem: $(e.target)}, $(e.target)[0].value)
                return false;
            }});
    $('li > a').click(function (e) {
        $('.btn-group.open .dropdown-toggle').dropdown('toggle');
        changeBtn({elem: $(e.target)}, $(e.target).text())
        return false;
    });

    // Event handlers
    $('.form-control').keypress(function(e) {
        var ip = $('.modal-body .form-control')
        var validated = ip.eq(0).val().length>0 && ip.eq(1).val().length>0 && ip.eq(2).val().length>0
        if (validated) {
            $('#btn-commit').prop('disabled', false);
        } else {
            $('#btn-commit').prop('disabled', true);
        }
    });

    $('#btn-commit').click(function (e) {
        // create object from json + input fields
        var ip = $('.modal-body .form-control')
        var req = {username: ip.eq(0).val(), email: ip.eq(1).val(), msg: ip.eq(2).val(), dat: json.doc.html}
        // post object to commit url
        $.post('',req,function(data,status){
            // give feedback message
            $('#btn-commit').prop('disabled', true);
            $('.modal-body').html('<div class="jumbotron"><h1>Success</h1><p>Committed with hash '+data+'.</p></div>');
        });
    });

    $('#keyin-field').keypress(function(e) {
        var validated = e.target.value.split(' ').length == $('.modal-body canvas').length
        if (validated) {
            $('#btn-apply').prop('disabled', false);
        } else {
            $('#btn-apply').prop('disabled', true);
        }
    });

    $('#btn-apply').click(function (e) {
        var canvasList = $('.modal-body canvas');
        var canvasKeys = Object.keys(canvasList).filter(function(k) {return k<'a'}).map(function(k) {return $(canvasList[k]).attr('word')});
        var wordList = $('#keyin-field').val().split(' ');
        for (id in canvasKeys) { changeBtn({elem:$('#'+canvasKeys[id]+' button')},wordList[id]) }
    });

    $('#btn-download').click(function(e) {
        var doc = new jsPDF('p','pt');
        var marginleft = 20, linewidth = 575, lineheight = 35;
        var x = 0, y = 20;
        $('.modal-body canvas').each(function(i,img) {
            var w = Number($(img).css('width').replace('px',''));
            var h = Number($(img).css('height').replace('px',''));
            if ((x+w)%linewidth < w) {
                x = Math.ceil(x/linewidth)*linewidth;
                y = y + lineheight;
            };
            doc.addImage(atob(img.toDataURL('image/jpeg').slice('data:image/jpeg;base64,'.length)),'JPEG',x%linewidth+marginleft,y,w,h);
            x = x+w+2;
        });
        doc.output('save');
    })
</script>