<div class="jumbotron ocr_controls">
    <button class="btn btn-primary btn-submit" data-toggle="modal" data-target="#submitModal">Submit</button>
    <button class="btn btn-warning btn-keyin" data-toggle="modal" data-target="#keyinModal">Key In</button>
</div>

<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="submitModalLabel">Index and commit changes</h4>
            </div>
            <div class="modal-body">
                <div id="username" class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div id="email" class="input-group">
                    <span class="input-group-addon" style="font-size: 1.25em">@</span>
                    <input type="text" class="form-control" placeholder="Email adress">
                </div>
                <div id="message" class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></span>
                    <input type="text" class="form-control" placeholder="Commit message">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btn-commit" type="button" class="btn btn-primary">Commit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="keyinModal" tabindex="-1" role="dialog" aria-labelledby="keyinModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="keyinModalLabel">Key entry</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group" style="margin: 10px;">
                    <li class="list-group-item">
                        <% for (i in json.doc.html.body(0).div(0).span()) { if (i!='last') { var line = json.doc.html.body(0).div(0).span(i); var y0 = line.attributes.title.split(' ')[2]*1; var y1 = line.attributes.title.split(' ')[4]*1 %>
                        <% var wordset = line.span().filter(function(x) {var nlp = x.span(0).ins(0).attributes.title.substr(4); return nlp != "1.00" && nlp != "0.10" && nlp != "2.00"}) %>
                        <% for (j in wordset) { if (j!='last') { var word = wordset[j]; var x0 = word.attributes.title.split(' ')[1]*1; var x1 = word.attributes.title.split(' ')[3]*1; %>
                        <canvas class="ocr_word panel panel-default" width="<%= (x1-x0+10) %>" height="<%= (y1-y0) %>" id="<%= "bbox "+(x0-5)+" "+y0+" "+(x1+5)+" "+y1 %>" word="<%- word.attributes.id%>"  style="margin-right:1px;"></canvas>
                        <% }} %>
                        <% }} %>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group" style="width: 100%;">
                            <textarea id="keyin-field" class="field form-control" placeholder="Enter SPACE-SEPARATED transcription" style="height: 150px"></textarea>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btn-download" type="button" class="btn btn-warning">PDF</button>
                <button id="btn-apply" type="button" class="btn btn-primary" data-dismiss="modal" disabled="true">Apply</button>
            </div>
        </div>
    </div>
</div>