<button class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="float: left; clear:left; margin: 25px;">
    Submit
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Commit changes</h4>
            </div>
            <div class="modal-body">
                HERE GOES THE COMMIT FORM: name, email, commit message.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Commit</button>
            </div>
        </div>
    </div>
</div>